<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>About Ali Al-Huwairini</title>
  </head>
  <body>
    <div class="links">
      <a href="/">Home</a>
      <a href="works">Works</a>
    </div>
    <h3>Early life and upbringing</h3>
    <p>
      Al-Huwairini was born in Al-Badai in 1945 AD, then moved to Riyadh, Saudi
      Arabia. He studied film directing in the United States of America, and
      then returned to Saudi Arabia, where he worked in many artistic fields,
      including the field of broadcast and directing engineering. He did not
      stop at directing, but extended to participate in acting in some plays.</p>
    <h3>Other data about Ali Al-Huwairini</h3>
    <ul>
      <li>Religion: Muslim.</li>
      <li>Ethnicity: Arabic.</li>
      <li>The most important directors who dealt with him: Muhammad Salman,
        Khaled Al-Tokhaim, Tayseer Aboud.</li>
    </ul>

  </body>
</html>