<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>Ali Al-Huwairini</title>
  </head>
  <body>
    <div class="links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="works">Works</a>
    </div>
    <h1>Ali Al-Huwairini</h1>
    <img src="main.jpg" alt="portrait" />
    <h5>
      <i>"If you are the owner of burrows, do not live in one burrow in which
        you hunt, you have to move from burrow to burrow until you hunt, and be
        careful who wants to hunt you." — Ali Al-Huwairini</i>

    </h5>
    <p>
      Despite the many cultural titles given to Ali al-Huwairini, such as a
      thinker, writer and philosopher, al-Huwairini stated that he had not read
      a book since he was at the age of forty except the Noble Quran, and as
      long as he had a deep conviction after that time that the Holy Quran is
      the basis of guidance and the richest of books and that it needs an
      in-depth study to elicit divine judgment well.
    </p>
    <p>
      Ali Al-Huwairini admits that when he started acting and directing, he did
      not gain wide fame, and when he began to present his ideas and poems,
      people began to recognize him more.
    </p>
    <p>
      Ali Al-Huwairini refuses to write down his ideas or collect them in books
      dedicated to him, and always prefers to present them orally.
    </p>

  </body>
</html>