<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>Ali Al-Huwairini - Works</title>
  </head>
  <body>
    <div class="links">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
    <h3></h3>
    <h4>Series</h4>
    <ul>
      <li>Philanthropist (1974)</li>
      <li>Unforgettable Days (1974)</li>
      <li>Kid Malik Khalaf (1978)</li>
      <li>First Turn (1989)</li>
      <li>Waddah's Diaries (1992)</li>
      <li>Lost Dreams (1997)</li>
      <li>Al-Sarraj (1994)</li>
      <li>Soft (1995)</li>
      <li>Oud (2002)</li>
      <li>The Handmaid (2009)</li>
    </ul>
    <h4>Theathre</h4>
    <ul>
      <li>Under the chairs</li>
      <li>Last ride</li>
      <li>Lucky train</li>
      <li>Kuala Lumpur incense</li>
      <li>Red Mercury</li>
    </ul>
  </body>
</html>