body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(3, 3, 123);
  background-color: rgb(43, 41, 41);
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: large;
  margin: 5px;
}
.links a {
  padding: 0 1em;
}
